.navbar {
  position: fixed;
  width: 100%;
  z-index: 20;
}

.navbar-toggler {
  border: 2px solid #fff;
}

.fixed-main {
  height: 100vh;
  background: url("img/mountains.jpeg") no-repeat center center fixed;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  font-size: 500%;
}
.get-started {
  border: 1px solid #2c3e50;
}
@media (max-width:575px) {
  .hero-text {
    font-size: 300%;
  }
  .sub-text {
    font-size: 115%;
  }
  footer .col-lg-4 {
    margin-top: 20px;
  }
}
.first {
  padding: 50px 20px;
}
.fix-back {
  height: 80vh;
  background: url("img/background.jpg") no-repeat center center fixed;
  background-size: cover;
}
footer {
  background-color: #23415d;
  color: #fff;
}
.social-icons a {
  color: #fff;
  padding: 7px;
  font-size: 24px;
  text-decoration: none;
}
.social-icons a:hover {
  color: #c1c1c1;
  }
